{% extends "base.html" %}
{% block styles %}
<style>
    .tooltipo {
        position: relative;
        display: inline-block;
    }

    .tooltipo .tooltipotext {
        visibility: hidden;
        width: auto;
        background-color: #86af49;
        color: #d5e1df;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -60px;
    }

    .tooltipo .tooltipotext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgb(175, 217, 230) transparent transparent transparent;
    }

    .tooltipo:hover .tooltipotext {
        visibility: visible;
        opacity: 1;
    }
</style>
{% endblock %}
{% block title %}Oceny{% endblock %}

{% block content %}
<table>


    {% for przedmiot in przedmioty %}
    <tr>
        <th>
            {{przedmiot.przedmiot}}&nbsp
        </th>
        {% for ocena in oceny %}
        {% if ocena.przedmiot == przedmiot.id %}
        {% for nauczyciel in nauczyciele %}
        {% if nauczyciel.id == ocena.nauczyciel %}

        {% if ocena.opis == "R" %}
        <td style=" background-color: #d5e1df; text-align: center;">
            <div class="tooltipo"><a href="{{url_for('uczniowie.edytujOcene', _id=ocena.uczen, idOceny=ocena.id)}}"
                    style="color:#405d27;  padding: 3px;">{{ocena.ocena}}</a>
                {% elif ocena.opis == "P" %}
        <td style=" background-color: red; text-align: center;">
            <div class="tooltipo"><a href="{{url_for('uczniowie.edytujOcene', _id=ocena.uczen, idOceny=ocena.id)}}"
                    style="color:#405d27;  padding: 3px;">{{ocena.ocena}}</a>
                {% elif ocena.opis == "S" %}
        <td style=" background-color:blue; text-align: center;">
            <div class="tooltipo"><a href="{{url_for('uczniowie.edytujOcene', _id=ocena.uczen, idOceny=ocena.id)}}"
                    style="color:#405d27;  padding: 3px;">{{ocena.ocena}}</a>
                {% elif ocena.opis == "T" %}
        <td style=" background-color: green; text-align: center;">
            <div class="tooltipo"><a href="{{url_for('uczniowie.edytujOcene', _id=ocena.uczen, idOceny=ocena.id)}}"
                    style="color:#405d27;  padding: 3px;">{{ocena.ocena}}</a>
                {% elif ocena.opis == "D" %}
        <td style=" background-color: yellow; text-align: center;">
            <div class="tooltipo"><a href="{{url_for('uczniowie.edytujOcene', _id=ocena.uczen, idOceny=ocena.id)}}"
                    style="color:#405d27;  padding: 3px;">{{ocena.ocena}}</a>
                {% elif ocena.opis == "A" %}
        <td style=" background-color: violet; text-align: center;">
            <div class="tooltipo"><a href="{{url_for('uczniowie.edytujOcene', _id=ocena.uczen, idOceny=ocena.id)}}"
                    style="color:#405d27;  padding: 3px;">{{ocena.ocena}}</a>
                {% elif ocena.opis == "K" %}
        <td style=" background-color: aqua; text-align: center;">
            <div class="tooltipo"><a href="{{url_for('uczniowie.edytujOcene', _id=ocena.uczen, idOceny=ocena.id)}}"
                    style="color:#405d27;  padding: 3px;">{{ocena.ocena}}</a>
                {% elif ocena.opis == "O" %}
        <td style=" background-color: sandybrown; text-align: center;">
            <div class="tooltipo"><a href="{{url_for('uczniowie.edytujOcene', _id=ocena.uczen, idOceny=ocena.id)}}"
                    style="color:#405d27;  padding: 3px;">{{ocena.ocena}}</a>
                {% endif %}
                <span class="tooltipotext">Nauczyciel:
                    {{nauczyciel.nazwisko + " " +nauczyciel.imie}}<br>Kategoria:
                    {{ocena.opis}}<br>
                </span>
            </div>
        </td>
        {% endif %}

        {% endfor %}
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}