{% extends "base.html" %}

{% block title %}Dodaj Ucznia{% endblock %}
{% block content %}
<form action="#" method="post">
    <p>Imię: </p>
    <p><input type="text" name="imie" required /></p>
    <p>Nazwisko: </p>
    <p><input type="text" name="nazwisko" required /></p>
    <p>PESEL: </p>
    <p><input type="text" name="pesel" pattern="[0-9]{11}" required /></p>
    <p>Data urodzdenia: </p>
    <p><input type="date" name="dataUrodzenia" required /></p>
    <p>Klasa: </p>
    <select name="klasa" required>
        <option disabled value="Wybierz klase" name="klasa" selected>Wybierz klase</option>
        {% for klasa in klasy %}
        <option value='{{klasa.id}}' name="klasa">{{klasa.klasa}}</option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Dodaj" />
</form>

{% endblock %}