{% extends "base.html" %}
{% block styles %}
<style>
    table,
    th,
    td {
        border: 1px solid whitesmoke;
        padding: 5px;
    }
</style>
{% endblock %}
{% block title %}Strona użytkownika{% endblock %}

{% block content %}
<br>
<form action="#" method="POST">
    <select name="ocena">
        {% for ocena in oceny %}
        {% if ocena[0] == podstawa[0][0] %}
        <option name="ocena" value='{{ocena[0]}}' selected>{{ocena[0]}}</option>
        {% else %}
        <option name="ocena" value='{{ocena[0]}}'>{{ocena[0]}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <select name="nauczyciel">

        {% for nauczyciel in nauczyciele %}
        {% if nauczyciel[1] == podstawa[0][3] %}
        <option name="nauczyciel" value='{{nauczyciel[0]}}' selected>{{nauczyciel[1]}}</option>
        {% else %}
        <option name="nauczyciel" value='{{nauczyciel[0]}}'>{{nauczyciel[1]}}</option>
        {% endif %}
        {% endfor %}

    </select>
    <select name="przedmiot">

        {% for przedmiot in przedmioty %}
        {% if przedmiot[1] == podstawa[0][2] %}
        <option name="przedmiot" value='{{przedmiot[0]}}' selected>{{przedmiot[1]}}</option>
        {% else %}
        <option name="przedmiot" value='{{przedmiot[0]}}'>{{przedmiot[1]}}</option>
        {% endif %}
        {% endfor %}

    </select>
    <input type="text" value="{{podstawa[0][1]}}" name="opis">
    <input type="submit" value="Zmień" />
</form>
{% endblock %}